<html xmlns:th="http:///www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="header">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display-->
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand"><strong> Book Store</strong></a>
			</div>

			<!-- Collectiion of nav and other content for toggling-->
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item" th:if="${sessionInfo.getUserName() == null}"><a th:href="@{/login}">Login</a></li>
					<li class="nav-item" th:if="${sessionInfo.getUserName() == null}"><a th:href="@{/signUp}">Sign up</a></li>

					<li class="nav-item" th:if="${sessionInfo.getUserName() != null}"><a th:href="@{/dashboard}">Dashboard</a></li>
					<li class="nav-item" th:if="${sessionInfo.getUserName() != null}"><a th:href="@{/books/buybooks}">Buy Books</a></li>
					<li class="nav-item" th:if="${sessionInfo.getUserName() != null}"><a th:href="@{/books/addbook}">Add New</a></li>

					<li class="nav-item" th:if="${sessionInfo.getUserName() != null}"><a href="#">Orders</a></li>
					<li class="nav-item" th:if="${sessionInfo.getUserName() != null}"><a href="#">Cart</a></li>
					
					<li> <a th:href="@{/about}">About</a></li>					
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item"  th:if="${sessionInfo.getUserName() != null}"> <a th:href="@{/myaccount}">My Account</a></li>

					<form class="navbar-form navbar-right" style="margin-right:0px;" th:action="@{/logout}">
					  <button th:if="${sessionInfo.getUserName() != null}" class="btn btn-transparent btn-primary" type="submit" value="Logout"  >Logout</button>
					</form>
				</ul>
				
			</div>
		</div>
	</nav>
</div>

<!-- Commmon footer fragment-->
<div th:fragment="footer">
	<div class="footer-content navbar-fixed-bottom">
		<footer class="footer">
			<p class="text-center">© 2024 Book Store</p>
		</footer>
	</div>
</div>

</html>