<html xmlns:th="http:///www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Book Store</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" >
		<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.0/responsive.dataTables.css" >
		<link rel="stylesheet" th:href="@{/styles/common.css}" >
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.js"></script>
	</head>
	<body>
		<div align="center">			
			<div th:replace="layouts/common :: header">My Header</div>
			
			<!-- Body of the view is replaced here -->
			<section layout:fragment="content">
				<p> Body Contents </p>
			</section>
			
			
			<div th:replace="layouts/common::footer">My Footer</div>
		</div>
	</body>
</html>