<html xmmlns:th="http:///www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layouts/defaultTemplate" xmlns:xmmlns="http://www.w3.org/1999/xhtml">
	<!-- About page content -->
	<div layout:fragment="content">
		<div class="container-fluid body-content text-center">
		  <p>About Book Store</p>
		  <p>
			The Book Store is your one stop market for books!. Here you can sign up and list books for sale. 
			Buy books from other users at reasonable price. And more... 
		  </p>
		</div>
	</div>	
</html>